{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profilUtilisateur.css') }}">
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-center">Groupe {{ groupe.nom }}</h1>
    {% for participant in groupe.membres %}
            <div class="col-3"  >
                <div class="card user-card">

                    <div class="card-block">
                        <div class="user-image">
                            <a href="{{ path('participant_profil', {'id': participant.id}) }}">
                            {% if (participant.nomFichierPhoto) %}
                                <img src="{{ asset('img/' ~ participant.nomFichierPhoto) }}" class="img-radius" alt="User-Profile-Image">
                            {% else %}
                                <img src="{{ asset('img/profil/Portrait_Placeholder.png') }}" class="img-radius" alt="User-Profile-Image">
                            {% endif %}
                            </a>
                        </div>
                        <h6 class="f-w-600 m-t-25 m-b-10">{{ participant.prenom }} {{ participant.nom }}</h6>
                    </div>
                </div>
            </div>
    {% endfor %}
        </div>
    </div>

{% endblock %}

{% block title %}

{% endblock %}

