{% extends 'layouts/Concept/Standard.html.twig' %}

{% block Content %}

        <div class="influence-finder">
            <div class="container-fluid dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h3 class="mb-2">Ajout d'utilisateurs </h3>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Gestion</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Ajout d'utilisateur</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- content -->
                <!-- ============================================================== -->
                {% for label, messages in app.flashes %}
                    <div class="container">
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="row">
                    <h1 class="text-center col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">Ajout d'utilisateur via un fichier CSV</h1>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="mb-2">Veuillez deposez votre fichier CSV</div>
                            <div class="row">
                                <div class="col-lg-12">
                                    {{ form_start(form, { attr: { 'accept-charset' : 'utf-8' }}) }}
                                    <div class="form-group">
                                        {{ form_label(form.upload_file) }}
                                        {{ form_widget(form.upload_file) }}
                                        {{ form_errors(form.upload_file) }}
                                    </div>
                                    <div class="float-none mt-xl-0 mt-4">
                                        <button class="btn-outline-dark" type="submit">Upload du fichier</button>
                                    </div>
                                    {{ form_rest(form) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{#                <div class="row">
                    <!-- ============================================================== -->
                    <!-- search bar  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
                                <form>
                                    <input class="form-control form-control-lg" type="search" placeholder="Rechercher un utilisateur" aria-label="Search">
                                    <button class="btn btn-outline-primary search-btn" type="submit">Rechercher</button>
                                </form>
                            </div>
                        </div>
                    </div>#}
                    <!-- ============================================================== -->
                    <!-- end search bar  -->
                    <!-- ============================================================== -->
{#                    <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
                        <!-- ============================================================== -->
                        <!-- card influencer one -->
                        <!-- ============================================================== -->
                        {% for participant in allParticipant %}
                        <div class="card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="user-avatar float-xl-left pr-4 float-none">
                                            <img src="{{ asset('img/'~participant.nomFichierPhoto) }}" alt="User Avatar" class="rounded-circle user-avatar-xl">
                                        </div>
                                        <div class="pl-xl-3">
                                            <div class="m-b-0">
                                                <div class="user-avatar-name d-inline-block">
                                                    <h2 class="font-24 m-b-10">{{ participant.pseudo }}</h2>
                                                </div>
                                                <div class="rating-star d-inline-block pl-xl-2 mb-2 mb-xl-0">
                                                    <p class="d-inline-block text-dark">ID : {{ participant.id}} |
                                                        Participation : {{ participant.sortiesParticpees|length }} |
                                                        Organisation : {{ participant.sortiesOrganisees|length }}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="user-avatar-address">
                                                <p class="mb-2">Nom : {{ participant.nom~" | Prénom : "~participant.prenom }}<br>
                                                    Mail : {{ participant.mail }} <br> Téléphone : {{ participant.telephone }}</p>
                                                <div class="mt-3">
                                                    {% for role in participant.roles %}
                                                        <a class="mr-1 badge badge-light">{{ role }}</a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="float-xl-right float-none mt-xl-0 mt-4">
                                            <a href="{{ path('admin_gestion_utilisateur_infos',{id:participant.id}) }}" class="btn btn-primary">Détails</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="border-top user-social-box">
#}{#                                <div class="user-social-media d-xl-inline-block "><span class="mr-2 twitter-color"> <i class="fab fa-twitter-square"></i></span><span>13,291</span></div>#}{#
#}{#                                <div class="user-social-media d-xl-inline-block"><span class="mr-2  pinterest-color"> <i class="fab fa-pinterest-square"></i></span><span>84,019</span></div>#}{#
#}{#                                <div class="user-social-media d-xl-inline-block"><span class="mr-2 instagram-color"> <i class="fab fa-instagram"></i></span><span>12,300</span></div>#}{#
#}{#                                <div class="user-social-media d-xl-inline-block"><span class="mr-2  facebook-color"> <i class="fab fa-facebook-square "></i></span><span>92,920</span></div>#}{#
#}{#                                <div class="user-social-media d-xl-inline-block"><span class="mr-2 medium-color"> <i class="fab fa-medium"></i></span><span>291</span></div>#}{#
#}{#                                <div class="user-social-media d-xl-inline-block"><span class="mr-2 youtube-color"> <i class="fab fa-youtube"></i></span><span>1291</span></div>#}{#
                            </div>
                        </div>
                        {% endfor %}#}
                    </div>

                </div>
            </div>
        </div>


{% endblock %}



