{% extends 'base.html.twig' %}

{% block title %}{{ sortie.nom }} | {{ parent() }}{% endblock %}

{% block body %}
    <section>
        <h1>Détails : {{ sortie.nom }}</h1>


        <article>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ sortie.nom }}</h5>
                    <p class="card-text">{{ sortie.infosSortie }}</p>
                </div><!-- End .card-body -->
            </div><!-- End .card -->
        </article>

    </section>
{% endblock %}
