{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/datepicker.css') }}">
{% endblock %}

{% block body %}

    <h1>Sorties</h1>

    <section>
        <h2>Filtrer les sorties</h2>
        {{ form_start(searchForm, {attr: {'novalidate': 'novalidate'}}) }}
        <form>
            <div class="row">
                <div class="col-6">
                    {{ form_row(searchForm.campus) }}
                    {{ form_row(searchForm.nom) }}
                    <div class="row">
                        <div class="col-6">
                            {{ form_row(searchForm.dateHeureDebut) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(searchForm.dateHeureFin) }}
                        </div>
                    </div>
                </div>

                <div class="col-6 pt-4">
                    {{ form_row(searchForm.sortiesOrganisees) }}
                    {{ form_row(searchForm.sortiesInscrit) }}
                    {{ form_row(searchForm.sortiesNonInscrit) }}
                    {{ form_row(searchForm.sortiesPassees) }}
                    {{ form_row(searchForm.submit) }}
                </div>
            </div>
        </form>
        {{ form_end(searchForm) }}
    </section>

    <section class="mt-5">
        <h2>Liste des sorties</h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">Inscrits / Places</th>
                <th scope="col">État</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                    <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                    <td>
                        {{ sortie.participants|length }}
                        / {{ sortie.nbInscriptionsMax }}
                    </td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>
                        {% set inscrit = false %}
                        {% for participant in sortie.participants %}
                            {% if participant.id == app.user.id %}
                                {% set inscrit = true %}
                            {% endif %}
                        {% endfor %}
                        {% if inscrit %}
                            <span class="text-success">OUI</span>
                        {% else %}
                            <span class="text-danger">NON</span>
                        {% endif %}
                    </td>
                    <td>{{ sortie.organisateur.pseudo }}</td>
                    <td>
                        <a href="{{ path('sorties_detail', {id: sortie.id}) }}" class="card-link">Détails</a> -
                        {% set inscrit = false %}
                        {% for participant in sortie.participants %}
                            {% if participant.id == app.user.id %}
                                {% set inscrit = true %}
                            {% endif %}
                        {% endfor %}
                        {% if inscrit %}
                            <a href="{{ path('sorties_desinscription', {id: sortie.id}) }}" class="card-link">Se désister</a>
                        {% else %}
                            <a href="{{ path('sorties_inscription', {id: sortie.id}) }}" class="card-link">S'inscrire</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>Aucune sortie</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <a class="btn btn-outline-warning" href="{{ path('sorties_add') }}">Créer une sortie</a>


    </section>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                todayHighlight: true,
            });
        });
    </script>
{% endblock %}
