{% extends 'base.html.twig' %}

{% block title %}{{ sortie.nom }} | {{ parent() }}{% endblock %}

{% block body %}
    <section class="row">
        <h1>Détails : {{ sortie.nom }}</h1>


        <article class="col-7">
            <div class="card ">
                <div class="card-header row">
                    <div class="col-4">
                        <h4 class="card-title">{{ sortie.nom }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">{{ sortie.campus.nom}}, {{ sortie.etat.libelle }}</h6>
                    </div>
                    <div class="col-4 text-center">
                        <p class="card-text">{{ sortie.lieu.nom }}</p>
                    </div>
                    <div class="col-4 text-end">
                        <p class="card-text">Commence le {{ sortie.dateHeureDebut |format_datetime(pattern="dd MMMM à HH:mm") }}</p>
                        <p class="card-text">Durée : {{ sortie.duree }} minutes</p>
                    </div>
                </div>
                <div class="card-body row">
                    {% if(sortie.urlPhoto) %}
                        <div clas="col-6">
                            <img
                                    src="TODO"
                                    alt="..."
                                    class="img-fluid"
                            />
                        </div>
                        <div class="col-6">
                            <p class="card-text">{{ sortie.infosSortie }}</p>
                        </div>
                    {% else %}
                    <p class="card-text">{{ sortie.infosSortie }}</p>
                    {% endif %}
                </div><!-- End .card-body -->
                <div class="card-footer row">
                    <div class="col-6">

                        <p class="card-text">Date limite inscriptions : {{ sortie.dateLimiteInscription |format_datetime(pattern="dd MMMM") }}</p>
                    </div>
                    <div class="col-6 text-end">
                        <p class="card-text">Organisateur : {{ sortie.organisateur.pseudo }}</p>
                    </div>
                    <div class="progress mt-1 mb-0" style="height: 7px;">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{ sortie.participants.count*100/sortie.nbInscriptionsMax }}%" aria-valuenow="{{ sortie.nbInscriptionsMax }}" aria-valuemin="0" aria-valuemax="{{ sortie.participants.count }}"></div>
                    </div>
                    <p class="card-text">Participants : {{ sortie.participants.count }}/{{ sortie.nbInscriptionsMax }}</p>
                </div>
            </div><!-- End .card -->
        </article>
        <article class="col-5">
{#            http://www.webestools.com/google-maps-code-generator-insert-map-on-website-javascript-free-google-map-script.html#}
            <script type="text/javascript" src="http://www.webestools.com/google_map_gen.js?lati={{ sortie.lieu.latitude }}&long={{ sortie.lieu.longitude }}&zoom=10&width=510&height=300&mapType=normal&map_btn_normal=yes&map_btn_satelite=yes&map_btn_mixte=yes&map_small=yes&marqueur=yes&info_bulle="></script>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>Adresse :</h5>
                </div>
                <div class="panel-body">
                    <p>{{ sortie.lieu.rue }}</p>
                    <p>{{ sortie.lieu.ville.codePostal }} {{ sortie.lieu.ville.nom }}</p>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading"><h5>Participants :</h5></div>
                {% if(sortie.participants.count > 0) %}
                <div class="panel-body table-fixed">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" class="col-4">Pseudo</th>
                            <th scope="col" class="col-4">Nom</th>
                            <th scope="col" class="col-4">Détails</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for participant in sortie.participants %}
                        <tr>
                            <th scope="row">{{ participant.pseudo }}</th>
                            <td>{{ participant.nom }} {{ participant.prenom }}</td>
                            <td><a class="nav-link" href="#">Afficher</a></td> {# {{ path('participant_profil' , {id : participant.id}) }} #}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="panel-body">Il n'y a pas encore de participants inscrit à cette sortie</div>
                {% endif %}
            </div>
        </article>
    </section>


{#    <a class="nav-link" href="{{ path('participant_profil' , {id : app.user.id}) }}">Mon profil</a>#}
{% endblock %}
