{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/datepicker.css') }}">
{% endblock %}

{% block body %}

    <h1>Sorties</h1>

    <section>
        <h2>Filtrer les sorties</h2>
        {{ form_start(searchForm, {attr: {'novalidate': 'novalidate'}}) }}
        <form>
            <div class="row">
                <div class="col-6">
                    {{ form_row(searchForm.campus) }}
                    {{ form_row(searchForm.nom) }}
                    <div class="row">
                        <div class="col-6">
                            {{ form_row(searchForm.dateHeureDebut) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(searchForm.dateHeureFin) }}
                        </div>
                    </div>
                </div>

                <div class="col-6 pt-4">
                    {{ form_row(searchForm.sortiesOrganisees) }}
                    {{ form_row(searchForm.sortiesInscrit) }}
                    {{ form_row(searchForm.sortiesNonInscrit) }}
                    {{ form_row(searchForm.sortiesPassees) }}
                    {{ form_row(searchForm.submit) }}
                </div>
            </div>
        </form>
        {{ form_end(searchForm) }}
    </section>

    <section class="mt-5">
        <h2>Liste des sorties</h2>

        {% for sortie in sorties %}
        <article class="mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ sortie.nom }}</h5>
                    <p class="card-text">{{ sortie.infosSortie }}</p>
                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}" class="card-link">Détails</a>
                </div><!-- End .card-body -->
            </div><!-- End .card -->
        </article>
        {% else %}
        <div>
            Aucune sortie prévue.
        </div>
        {% endfor %}

        <div class="row">
            <button class="btn btn-outline-warning">Créer une sortie</button>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
<script>
    jQuery(document).ready(function() {
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd',
            todayHighlight: true,
        });
    });
</script>
{% endblock %}
